<div class="nav">
    <div class="nav-img">
        <a href="/">
            <img src="/assets/logos/logo-purple-clipped.png" alt="meet up logo with arrow colored purple">
        </a>
    </div>
    <div class="nav-search">
        <input type="text" minlength="4" maxlength="60" placeholder="search">
    </div>
    <div class="nav-buttons">
        <span>DARK MODE</span>
        <button class="darkModeToggle" id="off">
            <span class="material-icons">toggle_off</span> <!-- toggle_on -->
        </button>
        <a href="https://github.com/brandonnorsworthy/meet-up" target="_blank">GITHUB</a>
        {{#if session.loggedIn}}
        <a>{{session.username}}</a>
        {{else}}
        <a href="/signup">SIGN UP</a>
        {{/if}}

        {{#if session.loggedIn}}
        <button name="logout">LOGOUT</button>
        {{else}}
        <a href="/login">LOGIN</a>
        {{/if}}
    </div>
</div>