<main>
    <div class="card small user-prompt" id="login-card">
        <div class="col-12">
            <div class="row jc-c">
                <a class="txt-a-c" href="/">
                    <img src="/assets/logos/logo-purple-clipped.png" alt="meet up logo with purple color">
                </a>
            </div>
            <div class="row jc-c">
                <h1 class="txt-a-c">Sign In</h1>
            </div>
            <div class="row">
                <p class="txt-a-l">Email</p>
            </div>
            <div class="row">
                <input type="text" name="email">
            </div>
            <div class="row">
                <p class="txt-a-l">Password</p>
            </div>
            <div class="row">
                <input type="password" name="password">
            </div>
            <div class="row">
                <p class="txt-a-l">Need a new account?</p>
            </div>
            <div class="row">
                <p class="txt-a-l">
                    Click here to <a href="/signup">Sign Up</a>
                </p>
            </div>
            <div class="row jc-c">
                <button type="submit">LOGIN</button>
            </div>
        </div>
    </div>
</main>