
<main>
    <div class="card small user-prompt" id="signup-card">
        <div class="col-12">
            <div class="row jc-c">
                <a class="txt-a-c" href="/">
                    <img src="/assets/logos/logo-purple-clipped.png" alt="meet up logo with purple color">
                </a>
            </div>
            <div class="row jc-c">
                <h1 class="txt-a-c">Create an Account</h1>
            </div>
            <div class="row">
                <p class="txt-a-l">Profile Picture</p>
            </div>
            <div class="jc-c">
                <span class="material-icons md-48">
                    add_photo_alternate
                </span>
            </div>
            <div class="row">
                <p class="txt-a-l">Email</p>
            </div>
            <div class="row">
                <input type="text" name="email">
            </div>
            <div class="row">
                <p class="txt-a-l">Username</p>
            </div>
            <div class="row">
                <input type="text" name="username">
            </div>
            <div class="row">
                <p class="txt-a-l">Password</p>
            </div>
            <div class="row">
                <input type="password" name="password">
            </div>
            <div class="row">
                <p class="txt-a-l">Confirm Password</p>
            </div>
            <div class="row">
                <input type="password" name="confirm-password">
            </div>
            <div class="row">
                <p class="txt-a-l">Already have an account?</p>
            </div>
            <div class="row">
                <p class="txt-a-l">
                    Click here to <a href="/login">Sign In</a>
                </p>
            </div>
            <div class="row jc-c">
                <button type="submit" name="signup">CREATE ACCOUNT</button>
            </div>
        </div>
    </div>
</main>
