:root {
    --background-color: #DAE0E6;
    --card-background-color: #FFFFFF;
    --main-color: #9407F2;
    --confirm-color: #F673E3;
    --text-shade: #757575;
    --text-dark: #424242;
    --button-hover-on-white: #E1E1E1;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--background-color);
}

main {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

/*! navbar */
.nav {
    width: 100vw;
    height: 5vh;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.nav-img {
    width: 20vw;
    height: 100%;
    padding-left: 2vw;
}

.nav-img img {
    width: 80px;
}

.nav-search {
    width: 60vw;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-search input {
    width: 35vw;
    height: 60%;
    padding: 5px 0px 0px 42px;
    border: 0px;
    border-radius: 10px;
    color: #959595;
    background-color: #E1E1E1;
}

.nav-search input:focus {
    border-color: var(--main-color);
}

.nav-buttons {
    width: 20vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-buttons a {
    color: var(--main-color);
    margin-right: 35px;
    font-weight: 700;
    text-decoration: none;
}

/*! formatting of base cards */
.card {
    width: 60vw;
    border-radius: 10px;
    margin-top: 45px;
    background-color: var(--card-background-color);
}

/* used for signup and login just a bit smaller in width */
.small {
    width: 37.5vw
}

#signup-card {
    margin-top: 5vh;
}

#login-card {
    margin-top: 17vh;
}

/*! first card on main page has special formatting also formats the sort buttons */
.justify-left {
    width: 50%;
    justify-content: start;
}

.justify-right {
    width: 50%;
    justify-content: flex-end;
}

.card #sort {
    font-size: 24px;
    color: var(--text-shade);
    display: flex;
}

#sort > * {
    display: flex;
    padding: 5px 35px 5px 35px;
}

#sort > * > * {
    /* background-color: red; */
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

#sort button {
    border: none;
    color: var(--text-shade);
    background-color: none;
    border-radius: 10px;
    padding: 18px;
    margin: 0px 2px 0px 2px;
}

#sort button:hover {
    background-color: var(--button-hover-on-white);
}

#active {
    color: var(--card-background-color)!important;
    background-color: var(--main-color)!important;
}

#active:hover {
    color: var(--card-background-color)!important;
    background-color: var(--main-color)!important;
}

/*! all google font icons are unselectable */
.unselectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

/*! thread card formatting */
.thread {
    flex-direction: row;
    color: var(--text-dark);
    padding: 15px;
}

.thread:hover {
    cursor: pointer;
}

/* pfp on thread */
/*? left column */
.thread img {
    width: 148px;
    border-radius: 50%;
}

/* purple nameplate under pfp first column */
.thread > div:first-child > div {
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: var(--main-color);
    margin-top: 20px;
}

/*? middle column */
.thread > div:nth-child(2) {
    padding-left: 30px;
}

.thread > div:nth-child(2) > * {
    display: flex;
    height: 25%; /* 4 rows spread them evenly to fill all height */
}

.thread > div:nth-child(2) > h1 {
    font-weight: 700;
    font-size: 26px;
}

.thread > div:nth-child(2) > div {
    font-size: 24px;
}

.thread > div:nth-child(2) > div > span{
    text-align: right;
    padding-right: 0px;
}

/*? right column */
.thread > div:last-child > div {
    margin-bottom: 8px;
    font-size: 26px;
    height: 25%; /* first of 4 rows */
}

.thread > div:last-child > div p {
    text-align:right;
    padding-top: 8px;
    padding-right: 0px;
}

.thread > div:last-child > p {
    margin-bottom: 0;
    font-size: 24px;
    height: 25%;
}

/*! upvote button area */
.upvote {
    text-align: center;
    margin-top: 4px;
    padding: 4px;
    border-radius: 50%;
    border: 2px solid var(--text-dark);
}

/* if the upvote has been previously clicked */
.upvote:hover {
    color:var(--confirm-color);
    background-color: var(--card-background-color);
    border: 2px solid var(--confirm-color);
}

.upvote-activated:hover,
.upvote-activated {
    color:var(--card-background-color);
    background-color: var(--confirm-color);
    border: 2px solid var(--confirm-color);
}