:root {
    --background-color: #DAE0E6;
    --card-background-color: #FFFFFF;
    --main-color: #9407F2;
    --confirm-color: #F673E3;
    --text-shade: #757575;
    --text-dark: #424242;
    --button-hover-on-white: #E1E1E1;
}

main {
    /* height: 100vh; */
    display: flex;
    align-items: center;
}

/* login signup area */
.jc-c {
    display: flex;
    justify-content: center;
}

.txt-a-c {
    text-align: center;
}

.txt-a-l {
    text-align: left;
}

.user-prompt div .row {
    margin: 0px;
}

.user-prompt {
    margin-top: 17vh;
    color: var(--text-shade);
}

.user-prompt > div {
    margin: 0px;
    width: 100%;
    padding: 25px;
}

.user-prompt > div > div {
    width: 100%;
    display: flex;
}

.user-prompt > div > div img {
    width: 200px;
}

.user-prompt h1 {
    font-size: 24px;
    margin-bottom: 40px;
}

.user-prompt p {
    font-size: 20px;
    padding: 0px;
    margin-bottom: 10px;
}

.user-prompt input {
    padding: 7px 0px 7px 15px;
    background-color: var(--button-hover-on-white);
    border-radius: 10px;
    border: 0px;
    color: var(--text-shade);
    font-size: 20px;
    margin-bottom: 25px;
}

.user-prompt a {
    text-decoration: none;
    font-weight: 700;
    color: var(--main-color);
}

.user-prompt button {
    color: var(--card-background-color);
    background-color: var(--confirm-color);
    border: 0px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    padding: 15px 45px 15px 45px;
    width: auto;
}

.user-prompt span {
    font-size: 64px;
}

#avatar {
    padding: 9px 15px;
}